@import "virable/main_var";
@import "libre/grid";

$topBlock-bg: #111111;
$topBlock-color: #ffffff;
$topBlock-height: 60px;

.topBlock {
  background-color: $topBlock-bg;

  &__wrap {
    max-width: $size-main;
    margin: 0 auto;
    color: $topBlock-color;
    min-height: $topBlock-height;
    display: flex;
    align-items: center;
    padding: 0 $size-main-padding-lr;
  }
}