@import "virable/main_var";
@import "libre/grid";

header {
  background-color: $color-bg-main;
  box-shadow: $shadow-md;
  position: relative;
  z-index: 9997;
}
.header {
  max-width: $size-main;
  margin: 0 auto;
  color: $color-bg-thue;
  padding: 0 $size-main-padding-lr;
  z-index: 9999;
  position: relative;
  background-color: $color-bg-main;
  &__mask {
    width: 100%;
    height: 1px;
    box-shadow: $shadow-md;
    background-color: $color-bg-main;
    position: relative;
    z-index: 9999;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    height: $size-height-menu;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 80%;
    }
  }
  &__nav {
    @include _sm {
      display: none;
    }
    nav {
      ul {
        display: flex;
        align-items: center;
        height: $size-height-menu;
        &> li {
          margin: 0 10px;
          position: relative;
          a {
            font-size: $size-menu;
            color: $color-bg-thue;
          }
          i {
            position: relative;
            top: 2px;
            font-size: $size-menu-icon;
            cursor: pointer;
            outline: none;
            user-select: none;
          }
        }
      }
    }
    .btn-search-active {
      color: yellow;
    }
  }
  &__mobicon {
    display: none;
    justify-content: center;
    align-items: center;
    @include _sm() {
      display: flex;
    }

    i {
      cursor: pointer;
      font-size: 34px;
    }
  }
  &__search {
    width: 100%;
    position: absolute;
    z-index: 9990;
    top: 0;
    transition: 400ms;
    &-active {
      top: $size-height-menu;
    }
    &__wrap {
      max-width: $size-main;
      height: $size-height-menu;
      margin: 0 auto;
      background-color: $color-bg-thue;
      display: flex;
      align-items: center;
      padding: 0 $size-main-padding-lr;
      border-radius: 0 0 25px 25px;
      position: relative;
      transition: all 400ms;
      input {
        width: 100%;
        height: $size-height-menu / 1.8;
        background-color: $color-bg-thue;
        border: 1px solid #D1D5DB;
        padding: 0 15px;
        font-size: 17px;
        border-radius: 5px 0 0 5px;
      }
      button {
        background-color: $color-bg-main;
        color: $color-bg-thue;
        height: $size-height-menu / 1.8;
        padding: 0 $size-main-padding-lr;
        border-radius: 0 5px 5px 0;
      }
      &-active {
        box-shadow: $shadow-md;
      }
    }
    &__placeholder {
      position: absolute;
      left: $size-main-padding-lr + 15;
      top: 30px;
      font-size: 15px;
      transition: all 400ms;
      &-active {
        font-size: 10px;
        top: 19px;
        color: #4d5154;
      }
    }
  }
}
.navMob {
  position: fixed;
  top: 0;
  left: 200%; // slide left -100%, slide right 200%
  width: 100%;
  min-height: 100%;
  display: block;
  z-index: 9999;
  &-active {
    left: 0;
  }
  &__wallpaper {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    opacity: 0;
    top: 0;
  }
  &__wrap {
    position: absolute;
    z-index: 9999;
    top: 0;
    justify-content: space-between;
    width: 70%;
    min-height: 100vh;
    display: flex;
    transition: all $speed-open-menu;
    padding: 0 $size-main-padding-lr;
    background-color: $color-bg-mob-menu;
  }
  &__list {
    padding: 25px 0 0 0;

    li {
      margin-bottom: 10px;

      a {
        font-size: 17px;
        font-weight: 600;
        color: $color-bg-thue;
      }
    }
  }
  &__close {
    padding: 23px 0 0 0;

    i {
      color: $color-bg-thue;
      cursor: pointer;
      font-size: 34px;
    }
  }
}
.wrapPosition-left {
  .navMob__wrap {
    left: -100%;
  }
  .navMenu__active__wrap {
    left: 0;
  }
  .navMob__wallpaper__active {
    display: block;
    opacity: 1;
  }
}
.wrapPosition-right {
  .navMob__wrap {
    right: -100%;
  }
  .navMenu__active__wrap {
    right: 0;
  }
  .navMob__wallpaper__active {
    display: block;
    opacity: 1;
  }
}
.navMenu__main__active {
  overflow-y: hidden;
}
.mob__menu__active {
  display: block;
}
.fixed-top {
  position: sticky;
  top: 0;
}
