@import "virable/main_var";
@import "mixins/main_mixins";
@import "libre/reset";
//@import "fonts";
@import "libre/grid";
@import "libre/main_libre";

@import "header";
@import "navigation";

body {
  min-height: 2000px;
  font-family: 'Assistant', sans-serif;
}
#main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  p {
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
  }
  .contextMenu {
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    position: absolute;
    color: #ffffff;
    font-size: 17px;
    border-radius: 3px;
    li {
      cursor: pointer;
      padding: 12px 35px 12px 15px;
      border-bottom: 1px solid #777;
      transition: all 0.2s;
      &:last-child {
        border: none
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

section {
  padding: 30px;
  width: $size-main;
  margin: 0 auto;
}

  .redColor {
    color: red
  }
  .greenColor {
    color: green;
  }
  .yellowBorder {
    outline: 2px solid yellow;
  }

  /* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* button */
::-webkit-scrollbar-button {
  background: #222;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f68400;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000;
}
/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
    background: #000;
}
/* Corner */
::-webkit-scrollbar-corner {
  background: #999;
}
/* Resizer */
::-webkit-resizer {
  background: #111;
}

