/* size */
$size-main: 1101px;
$size-main-padding-lr: 30px;

/* navigation */

$color-bg-main: #1b9378;
$color-bg-thue: #ffffff;
$color-font-main: #111111;
$color-bg-mob-menu: #1b9378;
$size-height-menu: 80px;
$speed-open-menu: 400ms;